name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  php-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: ['8.4', '8.5']
        dependency-version: [prefer-stable]

    name: PHP${{ matrix.php }} - ${{ matrix.dependency-version }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: mbstring, bcmath, intl

    - name: Configure matchers
      uses: mheap/phpunit-matcher-action@v1

    - name: Install dependencies
      run: |
        composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction --with-all-dependencies

    - name: Execute Unit Tests
      run: composer test

    - name: Analyse with PHPStan
      run: composer analyse

    - name: Check PSR-12 Codestyle
      run: composer check-style
